<!DOCTYPE html>
<html>
  <head>
    <title>The WeEvent</title>
    <link rel="icon" type="image/x-icon" href="/public/Images/logo.png" />
    <meta name="description" content="This is the description" />
    <link rel="stylesheet" href="/public/styles.css" />
  </head>

  <body>
    <%- include('partials/header'); %>

    <section class="content-section container">
      <h2 class="section-header">ABOUT US</h2>

      <img class="about-shop-image" src="../public/Images/logo.png" />
      <div class="cards">
        <div class="card red">
          <p class="tip">WeEvent: Your Ultimate Event Planning Platform!</p>
          <p class="second-text">
            Welcome to WeEvent, your one-stop destination for all your event
            planning needs. WeEvent is a dynamic and user-friendly website
            designed specifically for those looking to book the perfect venue
            for their special occasion. Whether you're organizing a wedding,
            birthday party, corporate event, or any other type of gathering,
            WeEvent is here to simplify the process and make your event planning
            experience seamless and enjoyable.
          </p>
        </div>
        <div class="card blue">
          <p class="tip">Discover the Perfect Venue:</p>
          <p class="second-text">
            At WeEvent, we understand that choosing the right venue sets the
            stage for a successful event. Our extensive database features a
            diverse selection of venues, ranging from luxurious ballrooms to
            picturesque outdoor spaces and everything in between. With our
            advanced search filters, you can easily narrow down your options
            based on location, capacity, amenities, and more. Whether you're
            planning a wedding, corporate conference, or a casual gathering,
            WeEvent has the perfect venue to suit your needs.
          </p>
        </div>
        <div class="card green">
          <p class="tip">Effortless Booking Process:</p>
          <p class="second-text">
            We believe that booking a venue should be a hassle-free process.
            With WeEvent, you can browse through venue profiles, explore
            high-quality images, and access detailed information such as
            pricing, availability, and additional services offered. Our
            intuitive booking system allows you to check real-time availability,
            compare prices, and secure your desired venue with just a few
            clicks. Say goodbye to lengthy phone calls and endless
            back-and-forth emails – WeEvent streamlines the booking process,
            saving you time and energy.
          </p>
        </div>
      </div>
    </section>
    <!-- End Services Section -->
    <%- include('partials/footer'); %>
  </body>
</html>
