<!DOCTYPE html>
<html>
  <head>
    <title>The WeEvent</title>
    <link rel="icon" type="image/x-icon" href="/public/Images/logo.png" />
    <meta name="description" content="This is the description" />

    <link rel="stylesheet" href="/public/forms.css" />
  </head>

  <body>
    <%- include('partials/header'); %>
   
 <form action="/book" class="form" method="POST">
   <p>
        Welcome,<span>Fill the form to book </span>
    </p> 
    </div>
    <input type="hidden" id="user_id" name="user_id" value="<%= token %>">
    <input type="text"  placeholder="venue" name="venue">
     <input type="datetime-local"  placeholder="Start_time" name="Start_time">
      <input type="datetime-local"  placeholder="End_time" name="End_time">
       <input type="text"  placeholder="venue_location" name="venue_location">
         <select  placeholder="venue_type" name="venue_type" required>
      <option value="Meeting">Meeting</option>
      <option value="Party">Party</option>
      <option value="Conference">Conference</option>
    </select><br>
        
    
    <button class="oauthButton">
        Submit
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 17 5-5-5-5"></path><path d="m13 17 5-5-5-5"></path></svg>
    </button>

    <%- include('partials/footer'); %>
  </body>
</html>
