<!DOCTYPE html>
<html>
  <head>
    <title>The WeEvent</title>
    <link rel="icon" type="image/x-icon" href="/public/Images/logo.png" />
    <meta name="description" content="This is the description" />
    <link rel="stylesheet" href="/public/home.css" />
  </head>

  <body>
    <%- include('partials/header'); %>

    <!-- Slideshow container -->

    <section>
      <div class="container">
        <div class="carousel">
          <input type="radio" name="slides" checked="checked" id="slide-1" />
          <input type="radio" name="slides" id="slide-2" />
          <input type="radio" name="slides" id="slide-3" />
          <input type="radio" name="slides" id="slide-4" />
          <input type="radio" name="slides" id="slide-5" />
          <input type="radio" name="slides" id="slide-6" />
          <ul class="carousel__slides">
            <li class="carousel__slide">
              <figure>
                <div>
                  <img src="/public/Images/P1.jpg" alt="" />
                </div>
                <figcaption>
                  Starlight Soiree Lounge
                  <span class="credit">Photo: Tim Marshall</span>
                  <a href="login">
                    <div class="oauthButton">Log in to book</div>
                  </a>
                </figcaption>
              </figure>
            </li>
            <li class="carousel__slide">
              <figure>
                <div>
                  <img src="/public/Images/p2.jpg" alt="" />
                </div>
                <figcaption>
                  Enchanted Gardens Events Hall
                  <span class="credit">Photo: Christian Joudrey</span>
                </figcaption>
              </figure>
            </li>
            <li class="carousel__slide">
              <figure>
                <div>
                  <img src="/public/Images/p3.jpg" alt="" />
                </div>
                <figcaption>
                  Starlight Soiree Lounge
                  <span class="credit">Photo: Steve Carter</span>
                </figcaption>
              </figure>
            </li>
            <li class="carousel__slide">
              <figure>
                <div>
                  <img
                    src="https://www.stockvault.net//data/2016/11/11/215633/thumb16.jpg"
                    alt=""
                  />
                </div>
                <figcaption>
                  Retro Arcade Extravaganza
                  <span class="credit">Photo: Aleksandra Boguslawska</span>
                </figcaption>
              </figure>
            </li>
            <li class="carousel__slide">
              <figure>
                <div>
                  <img
                    src="https://www.stockvault.net//data/2018/07/24/253377/thumb16.jpg"
                    alt=""
                  />
                </div>
                <figcaption>
                  Whimsical Wonderland Pavilion
                  <span class="credit">Photo: Rosan Harmens</span>
                </figcaption>
              </figure>
            </li>
            <li class="carousel__slide">
              <figure>
                <div>
                  <img
                    src="https://www.stockvault.net/data/2017/10/05/239763/preview16.jpg"
                    alt=""
                  />
                </div>
                <figcaption>
                  Ocean Breeze Beach Club
                  <span class="credit">Photo: Annie Spratt</span>
                </figcaption>
              </figure>
            </li>
          </ul>
          <ul class="carousel__thumbnails">
            <li>
              <label for="slide-1"
                ><img src="/public/Images/P1.jpg" alt=""
              /></label>
            </li>
            <li>
              <label for="slide-2"
                ><img src="/public/Images/p2.jpg" alt=""
              /></label>
            </li>
            <li>
              <label for="slide-3"
                ><img src="/public/Images/p3.jpg" alt=""
              /></label>
            </li>
            <li>
              <label for="slide-4"
                ><img
                  src="https://www.stockvault.net//data/2016/11/11/215633/thumb16.jpg"
                  alt=""
              /></label>
            </li>
            <li>
              <label for="slide-5"
                ><img
                  src="https://www.stockvault.net//data/2018/07/24/253377/thumb16.jpg"
                  alt=""
              /></label>
            </li>
            <li>
              <label for="slide-6"
                ><img
                  src="https://www.stockvault.net/data/2017/10/05/239763/preview16.jpg"
                  alt=""
              /></label>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- articles -->

    <section class="articles">
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="https://picsum.photos/id/1011/800/450" alt="" />
          </figure>
          <div class="article-body">
            <h2>Exploring Boating Facilities by Venue</h2>
            <p>
              Discover a comprehensive guide to boating facilities across
              various venues and destinations. Whether you're a seasoned sailor
              or a beginner seeking a maritime adventure, this resource covers
              marinas, yacht clubs, and boat ramps at stunning locations
              worldwide.
            </p>
            <a href="#" class="read-more">
              Read more <span class="sr-only">about this is some title</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </div>
        </div>
      </article>
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="https://picsum.photos/id/1005/800/450" alt="" />
          </figure>
          <div class="article-body">
            <h2>Scenic Sightseeing Venues</h2>
            <p>
              Experience the world's most captivating waterway vistas with our
              curated guide to scenic sightseeing venues. Discover serene
              lakeside panoramas, majestic river views, and breathtaking coastal
              landscapes that will leave you in awe. Whether you're seeking
              tranquility or adventure, these carefully selected destinations
              offer unparalleled
            </p>
            <a href="#" class="read-more">
              Read more <span class="sr-only">about this is some title</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </div>
        </div>
      </article>
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="https://picsum.photos/id/103/800/450" alt="" />
          </figure>
          <div class="article-body">
            <h2>Nature's Untouched Havens</h2>
            <p>
              Unveil the beauty of nature's unspoiled treasures with our curated
              guide to fresh sightseeing venues. Immerse yourself in the
              serenity of secluded lakes, lush rivers, and untamed coastal
              landscapes. From hidden coves to remote waterways, these pristine
              destinations offer an unparalleled escape into the heart of
              nature's wonders.
            </p>
            <a href="#" class="read-more">
              Read more <span class="sr-only">about this is some title</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </div>
        </div>
      </article>
    </section>

    <%- include('partials/footer'); %>
  </body>
</html>
